@{
    ViewBag.Title = "About";
}
<div class="hero-unit">
    <h2>
        Welcome @User.Identity.Name to TODO List Demo!</h2>
    <p>
        If you want to change your password: <a href="/Account/ChangePassword" class="btn btn-primary btn-large"
            style="color: White;">Click here</a></p>
    <p>
        App version: 1.0. In case of problems contact Administrator</p>
</div>
